.content {
    font-size: 2rem;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}

.header {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 2.5rem;
}

.joke {
    background-color: rgba(10, 0, 150, 0.4);
    border: 1px solid black;
    max-width: 40ch;
    color: white;
    border-radius: 40px;
    padding: 1em 0.5rem;
    margin: 1rem;
}

.joke p {
    text-shadow: 4px 2px black;
}

.button {
    background-color: rgb(60, 247, 60);
    font-size: 1.5rem;
    border-style: none;
    border-radius: 500px;
    padding: 1rem;
    border: 2px solid black;
    text-shadow: 1px 1px gray;
}

.button:hover {
    background-color: rgb(46, 190, 46);
    color: white;
    border: 2px solid white;
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 1.8rem;
    }
    .joke {
        max-width: 35ch;
    }
}

@media screen and (max-width: 550px) {
    .header {
        font-size: 1.3rem;
    }
}